[defaults]
inventory=inventories/inventory.yml
collections_path = ${PWD}/collections:~/.ansible/collections:/usr/share/ansible/collections
avd_ignore_requirements=True
forks=16
host_key_checking = False
